body{
    background-color: white
    
}
.heading{
    color:red
    tittle{
        color: red;
    }
}
header{
    background-color: black;
    text-align:center;
    color:white;
    font-display: bold;
}
.image2{
    height: 700px;
    border-radius: 20px;
    filter: grayscale(90%);
    width: 500px;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    justify-items: center;
}
p{
    font-size:20px;
    align-items: center;
    justify-items: first baseline;
    a
}